<!DOCTYPE html>
<html lang="en">
<head>
    <title>AdminData</title>
    <meta charset="UTF-8" name="author" content="LCS">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <p class="form-title">admin data</p><br>
    <p>Period from {{initial}} to {{final}}</p><br>
    <img src="static/img/graph-admin-sales.jpg" width="800">
    <p class="form-title">Total sales: {{ sales }}</p><br>
    <img src="static/img/graph-admin-units-sold.jpg" width="800">
    <img src="static/img/graph-admin-inventory.jpg" width="800">
    <p class="form-title">Products under minimum stock</p><br>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Placement</th>
                <th>Minimum stock</th>
                <th>Current stock</th>
            </tr>
        </thead>
        <tbody>
            {%for e in alerts%}
                <tr>
                    <td> {{e[0]}}</td>
                    <td> {{e[1]}}</td>
                    <td> {{e[2]}}</td>
                    <td> {{e[3]}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>