<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer</title>
    <meta charset="UTF-8" name="author" content="LCS">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <p class="form-title">Customer data</p>
    <table>
        <tr>
            <td>Name</td>
            <td>{{customer.name}}</td>
        </tr>
        <tr>
            <td>Street</td>
            <td>{{customer.street}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{customer.city}}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{customer.state}}</td>
        </tr>
    </table>
    <p>Period from {{initial}} to {{final}}</p><br>
    <img src="static/img/graph-customer.jpg" width="800">
</body>
</html>